.project__wrap {
    background-color: var(--projects-background);
    transition: all 0.2s linear;
    padding: 50px 120px;

    // .title {
    // }

    @media screen and (max-width: 768px) {
        padding: 30px 20px;
    }
    .section__projects {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px 50px;

        @media screen and (max-width: 768px) {
            gap: 20px 0px;
        }

        .project {
            text-align: center;
            padding: 15px;

            background: var(--about-background);
            transition: all 0.2s linear;

            border-radius: 8px;
            box-shadow: 0 4px 6px rgb(0, 0, 0 / 30%);
            transition: all 0.2s ease-in-out;

            @media screen and (max-width: 768px) {
                padding: 15px 30px;
            }

            &-img {
                width: 350px;
                height: 250px;
                margin: 0 auto;

                @media screen and (max-width: 768px) {
                    width: 300px;
                    height: 200px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    // border: 1px solid red;
                    border-radius: 7px;
                }
            }

            &:hover {
                box-shadow: 5px 9px 11px rgb(0, 0, 0 / 30%),
                    5px 9px 11px rgb(0, 0, 0 / 30%);
                transform: scale(1.00005);
                cursor: pointer;
            }

            &-date {
                font-size: 16px;
                padding: 0;
                border-radius: 0 0 5px 5px;
                background-color: #918e97;
                color: var(--accent);

                width: fit-content;
                margin: 0 auto;
                padding: 0 15px;
            }

            &-title {
                margin-top: 5%;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: var(--accent);
                // color: #fff;
                font-size: 23px;
                text-align: center;

                @media screen and (max-width: 768px) {
                    font-size: 17px;
                }
            }
        }
    }
}
