.workexp__wrap {
    background-color: var(--background);
    transition: all 0.2s linear;
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 0;
    padding-bottom: 60px;

    .title {
        padding: 30px;
    }

    &-container {
        // display: none;

        width: 70%;

        .panel-wrap {
            // background-color: var(--skills-item-background);
            padding: 10px;
        }

        // background-color: var(--skills-item-background);
        // background-color: #fff;

        @media screen and (max-width: 768px) {
            width: 90%;
        }

        .panel {
            // color: var(--accent);
        }
    }
}
